.jumbotron {
    background: dodgerblue;
    border: 0.5px solid lightsteelblue;
}
#export.jumbotron {
    background: none;
    border: none;
}
#boxshadowcode {
    display: none;
}
#totransform {
    -webkit-prespective: 600px;
    prespective: 600px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background: lightblue;
    margin: auto;
    height: 10em;
    width: 10em;
    border: 2px solid dodgerblue;
    /* #fixes 26  */
    z-index: -9999;
}
#controllers,
#export {
    position: relative;
    z-index: 999 !important;
}
input[type="range"].ultra_app {
    width: 25%;
    display: inline;
}
input[type="range"].text_color {
    width: 100%;
}
input[type="range"].box_shadow {
    width: 20%;
}
input[type="range"]#in {
    width: 10% !important;
}
.modal-body .row{
    padding: 4px;
}
body {
    background: url("./images/1.jpg") no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -o-background-size:cover;
    background-size: cover;    
}
.list-group-item{
    padding: 14px;
}
td.marked {
    border-right: 2px solid dodgerblue !important;
    border-bottom: 2px solid dodgerblue !important;
}
.bg-image{
    height: 5em;
    width:  5em;
    transition: 900ms all;
}
.bg-image.active{
    border:4px solid dodgerblue;
    border-radius:100px;
}
#totransform {
    position: relative;
    -webkit-perspective: 100;
    perspective: 100;
    transform-style: preserve-3d;
    // z-index: 1000;
}
input[type="range"] {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.successAlert .modal-header{
    background:#5cb85c;
    border-color:#4cae4c; 
    border-radius:4px 4px 0px 0px;
}
.errorAlert .modal-header{
    background: #d9534f;
    border-color: #d43f3a;
    border-radius:4px 4px 0px 0px;   
}
.warningAlert .modal-header{
    background: #f0ad4e;
    border-color:#eea236;
    border-radius:5px 5px 0px 0px;
}